<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Create Book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input label="Title" [(ngModel)]="data.tittle" placeholder="Enter Title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Author" [(ngModel)]="data.author" placeholder="Enter Author"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Section" [(ngModel)]="data.section" placeholder="Enter Section"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Status" type=number [(ngModel)]="data.status" placeholder="Enter Status"></ion-input>
  </ion-item>
  
  <ion-button (click)="submitForm()" color="success" size="small">
    Add
  </ion-button>
  <ion-button [routerLink]="['/book-list']" color="danger" size="small">
    Cancel
  </ion-button>
</ion-content> 